{{> head }}
    <body>
       {{> nav }}
        <main>
            <h1>{{heading}}</h1>
        </main>

        <div class="content-panel">

            {{#if loginFailed}}
            <p class="warning">Unbekannter Benutzername oder Passwort!</p>
            {{/if}}

            <form method="post" action="/login">
               
                    <p>
                        <label class="form-label" for="username">Benutzername</label>
                        <input type="text" name="username" id="username" value="{{username}}">

                    </p>
                    <p>
                        <label class="form-label" for="password">Passwort</label>
                        <input type="password" name="password" id="password" >
                    </p>
                
                <p>
                    <input type="submit"  value="Login">
                </p>
            </form>

        </div>
    </body>

</html>